/*
 * Password Management Servlets (PWM)
 * http://code.google.com/p/pwm/
 *
 * Copyright (c) 2006-2009 Novell, Inc.
 * Copyright (c) 2009-2015 The PWM Project
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

body {
    background-color: white;
}

.border {
    border: 1px solid #D4D4D4 !important;
}

.setting_outline {
    background-color: #eaeaea;
    border-radius: 3px 3px 5px 5px;
    /* box-shadow: 2px 2px 1px 1px #dcdcdc; */
    margin-bottom: 10px;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
}

.setting_title {
    color: black;
    background-color: #d3d3d3;
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.setting_title.modified {
    /*
    background-color: #aa1e08;
    color: #ffffff;
    text-shadow: none;
    */
}

.setting_title .text {
    opacity: 1;
    cursor: pointer;
}

.setting_item {
    padding-left: 5px;
    padding-top: 5px
}

.setting_body {
    padding: 5px;
}

.setting_body.modified {
    /*
    background-color: #efefef;;
    */
}

.icon_button {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.fa-question-circle {
    border-bottom-right-radius: 3px;
    box-shadow: 2px 2px 2px 2px #bfbfbf;
}

.fa-reply {
    color: #920000;
    visibility: hidden;
    border-bottom-right-radius: 3px;
    box-shadow: 2px 2px 2px 2px #bfbfbf;
}

.helpDiv {
    padding: 10px;
    border: 3px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 2px #000000
}

.centerbody-config {
    width: 850px;
    min-width: 850px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    border-radius: 0 0 5px 5px;
    box-shadow: 0;
    background-color: white;
}

.categoryDescription {
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 10px;
}

#header-center-wide {
    width: 850px;
    margin: 0 auto;
    position:relative;
    padding:4px;
}

.headerIcon {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    float: right;
}
.headerIcon.modified {
    color: orange;
}

.changeLogViewBox {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 450px;
    overflow-y: scroll;
    background-color: #e9e9e9;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
}

.changeLogKey {
    background-color: #aa1e08;
    color: white;
    font-weight: bold;
}

.changeLogValue {
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 10px;
}

.btn {
    font-family: Trebuchet MS, sans-serif;
    padding: 2px 9px;
    border-radius: 4px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3e374c), color-stop(1, #08070f) );
    background:linear-gradient(to bottom, #3e374c 5%, #08070f 100% );
}.btn:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #08070f), color-stop(1, #3e374c) );
     background:linear-gradient(to bottom, #08070f 5%, #3e374c 100% );
 }.btn:disabled {
      color: #656565;
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4f485d), color-stop(1, #191820) );
      background:linear-gradient(to bottom, #4f485d 5%, #191820 100% );
  }

.menubutton.selected {
    box-shadow: none;
    font-weight: bold;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B2B1B9), color-stop(1, #E8E1F6) );
    background:linear-gradient(to bottom, #B2B1B9 5%, #E8E1F6 100% );
}

.text {
    text-decoration: none;
}

.menubutton {
    cursor: pointer;
    font-weight: normal;
    display: block;
    text-align: center;
    border-radius: 3px;
    border: 10px;
    text-decoration: none;
    color: black;
    white-space: normal;
    background: #E8E1F6;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E8E1F6), color-stop(1, #B2B1B9) );
    background:linear-gradient(to bottom, #E8E1F6 5%, #B2B1B9 100% );
}.menubutton:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B2B1B9), color-stop(1, #E8E1F6) );
     background:linear-gradient(to bottom, #B2B1B9 5%, #E8E1F6 100% );
 }

.tree-noicon {
    width:0;
    margin:0;
    display:none;
}

table {
    max-width: 100%;
    font-size: 12px;
    border-color: #D4D4D4;
}

.modifiedNoticeIcon {
    color:#d20734;
    margin-right: 5px;
    margin-left: 5px;
}

.setting_table_value {
    max-width: 475px;
    overflow: auto;
}

.delete-row-icon {
    color: #880000;
}

#searchResults {
    padding:5px;
    border: 1px solid;
    max-height: 250px;
    width: 580px;
    overflow-y: auto;
    position: fixed;
    margin-left: 120px;
    margin-right: 110px;
    z-index: 10;
    background: white;
}

#configurationNotesTextarea {
    width:98%;
    height:400px;
    resize:none;
    overflow: auto;
}

#navigationTreeWrapper {
    border: 1px solid #bfbfbf;
    border-radius: 3px 3px 5px 5px;
    box-shadow: 1px 1px 0px 0px #dfdfdf;
    float: left;
    margin-right: 5px;
    background-color: white;
    margin-top: 57px;
    height: 85vh;
    width: 242px;
    position: fixed;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
}

#navigationTree {
    height: 100%;
}

#navTreeExpanderButtons {
    text-align: center;
    width: 100%;
    cursor: pointer;
    height: 10px;
}

#settingsPanel {
    width:600px;
    float:right;
    border:0;
    margin-top: 57px;
}

#settingSearchPanel {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    position:fixed;
    z-index: 2;
    background: white;
    width:850px;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
}

.setting_item_value_wrapper {
    border: 2px solid #D4D4D4;
    margin-bottom: 4px;
}

.checkboxWrapper {
    padding: 2px 5px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
}

.configStringInput {
    width: 500px;
    padding:2px 5px;
    margin: 0;
    border: 1px solid #bfbfbf;
    font-size: 9pt;
    background: white;
    display: inline-block;
    color: black;
}

.configNumericInput {
    width: 85px;
    padding:2px 5px;
    margin: 0;
    border: 1px solid #bfbfbf;
    font-size: 9pt;
    background: white;
    display: inline-block;
    color: black;
}

input:invalid{
    color:red;
}

.pane-help {
    border-bottom: 1px #d3d3d3 solid;
    padding: 5px;
    max-height: 250px;
    margin: 2px 2px 15px;
    overflow-x: auto;
}

.pane-settingValue {
    /*
    max-height: 300px;
    overflow-x: auto;
    */
}

.documentationParameter {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
}

#wrapper {
    border: 1px;
    height: 100%
}

.configeditor-header {
    height: 25px !important;
    position: fixed !important;
}

.settingSearchPanelTable {
    width:600px;
    margin-left: auto;
    margin-right: auto
}

.settingSearchPanelTable_Col1 {
    width:10px;
}

.settingSearchPanelTable_Col2 {
    width:580px;
}

.settingSearchPanelTable_Col3 {
    min-width:10px;
    max-width:10px;
    display: inline-block
}

#homeSettingSearch {
    width: 570px;
    margin-left:auto;
    margin-right: auto
}

#working_icon {
    color:orange;
    float:none;
}

.modifiedSettingsWrapper {
    border:0; margin-top:1px
}

/* using a transparent png so that we can still see grid lines, which are (unfortunately) behind the dijitRowNode that we are hovering over */
/* .nihilo .dijitTreeNodeHover {
    background-image: url(images/treeHover.png);
    background-repeat: repeat;
    background-color: none !important;
} */

.panel-searchResultItem {
    text-indent: 1.5em; 
    margin-left: 10px;
    cursor: pointer; 
    text-decoration: underline;
}

.panel-searchResultCategory {
    font-weight: bold;
}

.configNumericLimits {
    font-size: smaller;
    color: grey;
    margin-left: 10px;
}

.noWrapTextBox {
    margin-left: 5px;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.noWrapTextBox.border {
    border: 1px solid #bfbfbf;
    margin: 0;
}

.configStringPanel {
    width:480px;
    max-width:480px;
    overflow:hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    max-height:50px;
}

.editorIdleStatus {
    /*
    margin-left: auto;
    margin-right: auto;
    */
    color: #c3c3c3;
    text-align: center;
    font-size: 10px;
    font-family: "Courier New", Courier, monospace;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

.dialogSection {
    background-color: #eaeaea;
    padding:5px;
    border-radius: 3px;
    margin-left: 5px;
}

input[type=range] {
    padding:0;
}
input[type=range]::-ms-tooltip {
    display: none;
}
input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #656565;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


button {
    text-decoration: none;
    color: #3e374c;
    background: white;
    cursor: pointer;
    border: 1px solid #9e9e9e;
    border-radius: 2px;
}.button:disabled {
     color: #9e9e9e;
 }

 select {
     color: black;
 }

#button-openMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    cursor: pointer;
    color: #ffcd59;
}

#button-closeMenu {
    position: absolute;
    top: 3px;
    right: 4px;
    cursor: pointer
}

.navigableDN {
    cursor: pointer;
}

.selectableDN {
    cursor: pointer;
}
