/*
 * Password Management Servlets (PWM)
 * http://code.google.com/p/pwm/
 *
 * Copyright (c) 2006-2009 Novell, Inc.
 * Copyright (c) 2009-2015 The PWM Project
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 100%;
    margin: 0;
    width: 100%;
    min-height: inherit;
    min-width: 300px;
}

/* main content section, all content should be inside a centerbody div */
#centerbody {
    width: auto;
    min-width: inherit;
    padding: 0
}

#centerbody.wide {
    width: 100%;
    min-width: 100%;
}

#header-center {
    width: 100%;
    margin: 0;
    position:relative;
    padding:0;
}


#header-page {
    width: auto;
    padding-left: 10px;
}

#header-title {
    width: auto;
    padding-left: 10px;
}

.inputfield {
    width: auto;
    margin: auto;
    height: auto;
}

.peoplesearch-input-username {
    width:200px;
}

.dialogBody {
    width: 100%;
    max-width: 100%;
}

progress:not([value]) {
    width: 90%;
    max-width: 90%;
    height: 20px;
}

progress .wait {
    color: purple;
    width: 70%;
}

.menubutton {
    max-width: 100px;
    width: auto;
    padding: 2px 7px;
    display: block;
    border-radius: 2px;
    border: 5px;
    margin: 0 5px;
}

.menubutton_key {
    border: 0;
    width: auto;
    table-layout: fixed;
}

.dialogBody.orgChart { width: 100%; max-width: 100%; }

.peoplesearch-wrapper #centerbody.wide {
    bottom: 80px;
    height: auto !important;
    left: 0;
    margin: auto;
    min-width: auto;
    position: absolute;
    right: 40px;
    top: 80px;
    width: auto;
}


#peoplesearch-searchResultsGrid {
    bottom: 0px;
    height: auto;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 45px;
    cursor: pointer;
}
