/*
 * Password Management Servlets (PWM)
 * http://code.google.com/p/pwm/
 *
 * Copyright (c) 2006-2009 Novell, Inc.
 * Copyright (c) 2009-2015 The PWM Project
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
    height: 100%;
    margin: 0;
    min-height: 350px;
}

a {
    color: #2D2D2D;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

p {
    max-width: 100%;
    color: #2D2D2D;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;

}

hr {
    float: none;
    width: 100%;
    position: relative;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 12px;
}

form {
    display: inline;
}

.link-randomPasswordValue {
    cursor: pointer;
    font-family: monospace;
}

#form {
    border-radius: 3px;
    -moz-border-radius: 3px;
    border-collapse: separate;
}

table {
    border-collapse: collapse;
    border: 2px solid #D4D4D4;
    width: 98%;
    margin-left: auto;
    margin-right: auto
}

table.nomargin {
    border-collapse: collapse;
    border: 1px solid #D4D4D4;
    width: 100%;
    margin:0;
    padding: 0;
}

.tabContent {
    padding:0 !important;
}

table td {
    border: 1px solid #D4D4D4;
    padding-left: 5px;
}

table td.title {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    padding-right: 10px;
    background-color: #DDDDDD
}

table td.key {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    width: 36%;
}

.health-GOOD {
    white-space:nowrap;
    background-color: #8ced3f;
    text-align: center;
}

.health-CAUTION {
    white-space:nowrap;
    background-color: #ffcd59;
    text-align: center;
}

.health-CONFIG {
    white-space:nowrap;
    background-color: #ecd5d5;
    text-align: center;
}

.health-WARN {
    white-space:nowrap;
    background-color: #d20734;
    text-align: center;
}

.health-UNKNOWN {
    white-space:nowrap;
    background-color: red;
    text-align: center;
}

.inputfield {
    width: 60%;
    margin: 5px;
    height: 18px;
    padding-left: 4px;
}

.selectfield {
    height: auto;
}

.noticebar {
    width: 100%;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}

.noborder {
    border: 0;
    border-collapse: collapse;
} .noborder td {
      border: 0;
      border-collapse: collapse;
  }

/* disable ie password reveal */
input[type=password]::-ms-reveal{display: none;}

.selectfield {
    width: 60%;
    margin: 5px;
}

.tokenInput {
    height: 130px;
    width: 90%;
    resize: none;
    display: block;
    margin-bottom: 30px;
}

.icon-showhidepassword {
}

.changepasswordfield {
    width: 90%;
    margin-right: 5px;
}

.menubutton_key {
    border: 0;
    width: 160px;
    table-layout: fixed;
}

.menubutton {
    max-width: 135px;
    width: 135px;
    padding: 4px 11px;
    display: block;
    border-radius: 3px;
    border: 10px;
    color: black;
    margin: 0 5px;
    cursor: pointer;
}


/* main body wrapper, all elements (except footer) should be within wrapper */
#wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    position: relative;
}

/* main content section, all content should be inside a centerbody div */
#centerbody {
    width: 600px;
    padding: 5px;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

#centerbody.wide {
    width: 90%;
    min-width: 600px;
}

#centerbody.tall {
    bottom: 80px;
    height: auto !important;
    left: 40px;
    margin: auto;
    min-width: auto;
    position: absolute;
    right: 40px;
    top: 100px;
    width: auto;
}


/* all forms use a buttonbar div containing the action buttons */
.buttonbar {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center
}

.btn {
    border-style:none;
    border-radius: 3px;
    padding: 4px 12px;
    margin: 9px 7px;
    text-decoration: none;
    color: white;
    background: #3e374c;
    cursor: pointer;
}.btn:disabled {
     color: #9e9e9e;
 }

.helpdesk-detail-btn {
    margin-bottom: 10px;
    width: 175px;
}


/* used for password complexity meter */
div.progress-container {
    border: 1px solid #ccc;
    width: 90px;
    margin: 2px 5px 2px 0;
    padding: 1px;
    float: left;
    background: white;
}

div.progress-container > div {
    background-color: #ffffff;
    height: 10px;
}

/* header stuff */
#header {
    width: 100%;
    height: 70px;
    margin: 0;
    background-image: url('header-gradient.gif'); /* for older ie browsers */
    background:linear-gradient(to bottom, #3e374c, #08070f );
    z-index: 5;
    position: relative;
}

#header-balance-div {
    position: absolute;
    text-align:left;
    border-width:0;
    top: 19px;
    left:18px;
}


#header-center {
    width: 600px;
    margin: 0 auto;
    position:relative;
    padding:4px;
}

#header-center-left {
    float: left;
    max-width: 400px;
}

#header-center-right {
    float: right;
    width: 100px;
    height: 60px;
    padding-top: 7px;
}

.header-button {
    text-align: center;
    width: auto;
    padding: 1px 5px;
    display: inline-block;
    border: 10px;
    color: black;
    margin: 4px 4px;
    cursor: pointer;
    background: white;
    float: right;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 2px;
}

#header-page {
    padding-top: 9px;
    margin-left: auto;
    margin-right: auto;
    font-family: Trebuchet MS, sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}

#header-title {
    margin: auto;
    font-family: Trebuchet MS, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
}

#header-warning {
    text-align: center;
    position: absolute;
    right:6px;
    top:6px;
    width: 200px;
    border: 2px solid #aaaaaa;
    background-color: #DDDDDD;
    z-index: 10;
    padding: 10px;
}

.header-warning-row {
    margin-bottom: 15px;
}

.header-warning-healthData {
    cursor: pointer;
}

.header-warning-version {
    font-weight: bold;
}

.header-warning-buttons {
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.header-warning-button {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    display: block;
    color: black;
    cursor: pointer;
}


.header-error {
    text-align: center;
    white-space: normal;
    max-width: 600px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: red;
    border: 1px solid white;
    border-radius: 4px;
}

.clear {
    clear: both;
}

.message {
    display: block;
    padding: 6px;
    width: 90%;
    background-color: inherit;
    border-radius: 3px;
}

.message-info {
    background-color: #DDDDDD;
}

.message-error {
    background-color: #FFCD59;
}

.message-success {
    background-color: #EFEFEF;
}


.push, #footer {
    height: 60px;
}

#footer {
    position: relative;
    text-align: center;
    width: 100%;
    color: #555555;
    font-size: 11px;
    margin: 0;
}

#footer-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 5px;
}


#footer .infotext {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
}

#capslockwarning {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: 5em;
    text-align: center;
    padding: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #d20734;
    border-radius: 3px;
}



.agreementText {
    border: 0;
    background-color: #DDDDDD;
    border-radius: 7px;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    font-family: monospace;
}


/* hide recaptcha iframe near footer */
body > iframe[src="about:blank"] {
    display:none !important;
}

.qrcodeblock {
    background-color: white;
}

img.qrcodeimage {
    cursor: none;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timestamp {
    cursor: pointer;
}

.timestamp:hover {
    background-color: #fff8cc;
    border-radius: 2px;
}

.btn-icon {
    margin-right: 5px;
    cursor: pointer;
}

.action-icon {
    margin-left: 3px;
    cursor: pointer;
}

.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: none;
    opacity:0.6;
    background-color: black;
}

.grid.tall {
    bottom: 10px;
    height: auto;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 45px;
    cursor: pointer;
}

.checkboxWrapper {
    border: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #DBDBDB;
    display: inline;
}

select {
    padding:0;
    margin: 0;
    border-radius:2px;
    border-color: #bfbfbf;
    font-size: 9pt;
    background: #f8f8f8;
    display: inline-block;
}

#button-openHeader {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    cursor: pointer;
    color: #ffcd59;
}

#button-closeHeader {
    position: absolute;
    top: 3px;
    right: 4px;
    cursor: pointer
}

.footnote {
    font-style: italic;
    text-align: center;
    font-size: smaller
}

.icon-likeUserSearch {
    cursor: pointer;
    float: right;
}

#localeSelectionMenu {
    white-space: nowrap;
    cursor: pointer;
}

.login-wrapper {
    width:400px;
}

input[type=search] {
}

.navbutton {
    cursor: pointer;
    display: inline;
    font-weight: normal;
}

.navbutton.selected {
    box-shadow: none;
}

.simpleModeResponseSelection {
    font-size: 13px;
}

.formFieldLabel {
    font-size: 13px;
    font-weight: bold;
}

.searchbar {
    position: relative; margin-left: auto; margin-right: auto; width: 100%; text-align: center;
}

.formFieldWrapper {
    padding-bottom: 10px;
}

progress:not([value]) {
    width: 100%;
    height: 20px;
}

progress[value] {
    height: 20px;
    width: 100%;
    color: orange;
}


.blink { animation: blink 1s steps(5, start) infinite; -webkit-animation: blink 1s steps(5, start) infinite; }
@keyframes blink { to { visibility: hidden; } }
@-webkit-keyframes blink { to { visibility: hidden; } }

@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0 } to { opacity:1 } }
@-webkit-keyframes fadein { from { opacity:0 } to { opacity:1 } }

.meteredProgressBar {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 70px;
}

.dgrid-row-odd {
    background: #fdfdfd;
}


/* begin dialog section */
.dialogBody { width: 500px; max-width: 500px; }
.dialogBody.narrow { width: 350px; max-width: 350px; }
.dialogBody.wide { width: 95%; max-width: 100%; min-width: 800px; }
.WaitDialogBlank { height: 46px; width: 46px; margin-left: auto; margin-right: auto; background-image: url('wait.gif');}
#dialogPopup_underlay { background-color: #222222; }
#idleDialog_underlay { background-color: #111111; }
dialog::backdrop { background: rgba(0,0,0,0.6); }
dialog { border: 2px solid #DDDDDD; border-radius: 3px; padding:0; max-width: 100%;}
dialog .titleBar { text-align: center; font-weight: bold; padding-top: 3px; padding-bottom: 3px; background-color: #eaeaea; margin-bottom: 5px; }
dialog .body { padding:5px; max-height: 98vh; overflow-x: auto; }
dialog .closeIcon { float: right; cursor: pointer; margin-right: 3px; }
/* end dialog section */


/* begin peoplesearch section */

.icon-peoplesearch-orgChart { background-image: url("orgChart.png"); position: absolute; top:5px; right:5px; height:30px; width:30px; cursor: pointer; }
.panel-peoplesearch-userDetailPhoto { display: inline;  }
.img-peoplesearch-userDetailPhoto { width: 80px; max-width: 100%; height: auto; max-height: 100%; border-radius: 2px; border: 1px solid #d8e2e2; animation: fadein 1s; }
.panel-peoplesearch-person { margin-left:5px; background: #eaeaea; position: relative; padding: 6px; width: auto; height: 83px; margin-right: 5px; margin-bottom: 10px; border:  1px solid transparent; }
.panel-peoplesearch-displayNames { margin-left: 10px; vertical-align: top; display: inline-block; position: relative }


#peopleSearch-userDetailWrapper { max-height: 450px; overflow-y: auto; }
.peoplesearch-input-username { width:400px; }

.peopleSearch-userDetails { max-height: 450px; overflow-y: auto; border: 1px solid #d8e2e2; }
.peopleSearch-userDetails td.key { font-weight: normal; color: #949494; width: auto; padding: 3px 15px 3px 10px; border-bottom: 1px solid #d8e2e2; }



/* end peoplesearch section */


/* begin peoplesearch org chart section */
.dialogBody.orgChart { width: 550px; max-width: 550px; }
.panel-orgChart-parent .panel-orgChart-person {border-left: 5px solid #697374;}
.panel-orgChart-parent .panel-orgChart-person:hover {border-left: 5px solid #697374;}
.panel-orgChart-parent { margin-left: 5px }
.panel-orgChart-person { position: relative; background: #eaeaea; padding: 6px; width: 220px; height: 70px; margin-right: 10px; margin-bottom: 10px; border: 1px solid transparent; cursor:pointer; }
.panel-orgChart-sibling { float: left; display: block; }
.panel-orgChart-siblings { margin-left: 40px; }
.panel-orgChart-userPhoto { width: 40px;  height: 40px; float: left; border-radius: 2px; margin-right: 6px; margin-bottom: 35px;  }
.img-orgChart-userPhoto { display: block; width: auto; height:auto; max-height: 100%; margin: auto; max-width: 100%; border: 1px solid #D4D4D4; border-radius: 2px; animation: fadein 1s; }
.icon-orgChart-up { position: absolute; left: 12px; top: 54px; padding: 4px 8px; border: 1px solid #b6b6b6; }
.icon-orgChart-down {position: absolute; left: 12px; top: 54px; padding: 4px 8px; border: 1px solid #b6b6b6;}
.panel-orgChart-displayNames { }
.panel-orgChart-displayName-1 { font-weight: bold; }
.panel-orgChart-displayName-2 { color: #697374; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.panel-orgChart-displayName-3 { color: #697374; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 10px; }
.panel-orgChart-displayName-4 { color: #697374; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 10px; }
.panel-orgChart-displayName-5 { color: #697374; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 10px; }
.panel-orgChart-person:hover { border:  1px solid #d8e2e2; }
.panel-orgChart { max-height: 80vh; overflow-y: auto }
.panel-orgChart-footer {clear: both; margin-bottom: 10px; }
/* end peoplesearch org chart section */



